body {
    background-color: lightyellow;
    margin: 16px;
    font-family: monospace;
    font-size: 16pt;
}

#mapid { 
    margin: auto;
    height: 500px;
    width: 80%;
    border-radius: 5px;
}

.header {
    text-align: center;
}

.gradient { 
    background: radial-gradient(red, green, blue);
}