{% extends "gravity/base.html" %}
{% load staticfiles %}

{% block title %}Gravity{% endblock %}

{% block sidebar %}
<h1 class="header">Leaders:</h1>
<div id="leaders">
<div class="leader">
    <p class="name">Nazwa firmy 1</p>
    <p class="reviews">Liczba recenzji/średnia</p>
    <p class="address">Adres firmy</p>
</div>
</div>
{% endblock %}

{% block content %}
    <div id="mapid"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/leaflet-heat.js' %}"></script>
{% endblock %}